[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
SQLAlchemy = "*"
pg8000 = "*"
Flask-Migrate = "*"
python-dotenv = "*"
pika = "*"
Flask-RESTful = "*"
XlsxWriter = "*"
Flask-Cors = "*"
gunicorn = "*"
requests = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
