[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
pg8000 = "*"
flask-migrate = "*"
python-dotenv = "*"
celery = "*"
pika = "*"
flask-restful = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
