{% extends 'base.html' %}
	{% block title %}
	<title> Home Page </title>
	{% endblock %}
	{% block content %}
		<form method="POST", enctype="multipart/form-data"> 
			<div class='main-box'>
				<div class="card text-center">
				  <div class="card-header">
				    Setting up of foil
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Fill the foms below</h5> <br>
					<!--* add container here -->
					<div class="container">
						<div class="row">
						  <div class="col" style="width:50%">
							<label for="Irr-started" class="form-label">Irradiation started</label>
							<input name="Irr-started" class="form-control" type="datetime-local">
						  </div>
						  <div class="col" style="width:50%">
							<label for="Irr-finished" class="form-label">Irradiation finished</label>
							<input name="Irr-finished" class="form-control" type="datetime-local">
						  </div>
						</div>
						<br>
						<div class="row">
							<div class="col" style="width:50%">
							  <label for="Cool-started" class="form-label">Cooling started</label>
							  <input name="Cool-started" class="form-control" type="datetime-local">
							</div>
							<div class="col" style="width:50%">
							  <label for="Cool-finished" class="form-label">Cooling finished</label>
							  <input name="Cool-finished" class="form-control" type="datetime-local">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col" style="width:50%">
							  <label for="Meas-time" class="form-label">Measuring time</label>
							  <input name="Meas-time" class="form-control" type="number" step="1">
							</div>
							<div class="col" style="width:50%">
							  <label for="Area" class="form-label">Area</label>
							  <input name="Area" class="form-control" type="number" step="1">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col" style="width:50%">
							  <label for="Foil-type" class="form-label">Foil type</label>
							  <select name="Foil-type" class="form-select" aria-label="Default select example">
								<option selected value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							  </select>
							</div>
							<div class="col" style="width:50%">
							  <label for="Mass" class="form-label">Mass</label>
							  <input name="Mass" class="form-control" type="number" step="1">
							</div>
						</div>
					</div>
					<br>
				    <input type="submit" class="btn btn-primary">
				  </div>
				</div>
			</div>
		</form>
	{% endblock %}
