{% extends 'base.html' %}
	{% block title %}
	<title> Edit Sample </title>
	{% endblock %}
	{% block content %}
		<form method="POST", enctype="multipart/form-data"> 
			<div class='main-box'>
				<div class="card text-center">
				  <div class="card-header">
				    Editing sample ID={{data.id}}
				  </div>
				  <div class="card-body">
					<br>
				    <h5 class="card-title">Change and commit</h5> <br>
					<!--* add container here -->
					<div class="container">
						<div class="row">
							<div class="col" style="width:50%">
								<label for="Id" class="form-label">ID</label>
								<input name="Id" class="form-control" type="number" step="1" value="{{data.name}}">
							  </div>
							<div class="col" style="width:50%">
							  <label for="Area" class="form-label">Area</label>
							  <input name="Area" class="form-control" type="number" step="1" value="{{data.area}}">
							</div>
						</div>
						<br>
						<br>
						<div class="row">
							<div class="col" style="width:50%">
							  <label for="Cool-finished" class="form-label">Cooling finished</label>
							  <input name="Cool-finished" class="form-control" type="datetime-local" value="{{data.cooling_finished.strftime('%Y-%m-%dT%H:%M')}}">
							</div>
							<div class="col" style="width:50%">
								<label for="Meas-time" class="form-label">Measuring time</label>
								<input name="Meas-time" class="form-control" type="number" step="1" value="{{data.measuring_time}}">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col" style="width:50%">
								<label for="Mass" class="form-label">Mass</label>
								<input name="Mass" class="form-control" type="number" value="{{data.mass}}">
							  </div>
							<div class="col" style="width:50%">
							</div>
							
						</div>
					</div>
					<br>
				    <input type="submit" class="btn btn-primary" value="Commit">
				  </div>
				  <div class="card-footer text-muted">
					Click <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal"> here </a> to delete samle
				  </div>
				</div>
			</div>
		</form>
		<br>
		<br>
		<form action='{{url_for("wire.delete_wire_sample", id=data.exp_id, sample_name=data.name)}}' method="POST", enctype="multipart/form-data">
			<!-- Modal -->
			<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel">Are you sure on deleting refueling instance?</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							All data of sample {{data.name}} will be deleted!
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-danger">Delete!</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	{% endblock %}
